* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.side-bar {
  width: 100%;
  height: 100%;
}

.content-main {
  display: flex;
  position: absolute;
  width: calc(100% - 240px);
  height: 100%;
  /* background-color: lightgrey; */
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

.form-content {
  position: relative;
  width: 85%;
  height: 95%;
  outline: 1px solid gray;
  border-radius: 5px;
}

form{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.img-preview {
  max-width: 350px;
  max-height: 260px;
  /* outline: 1px solid black; */
  position: relative;
  top: -5px
}

#img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.input-text-area {
  position: relative;
  height: 100px;
  top: -5px;
}

textarea{
  width: 100%;
  height: 100%;
}

.input-submit{
  height: 40px;
  width: 120px;
  /* outline: 1px solid black; */
}

input[type="submit"] {
  position: absolute;
  width: 120px;
  bottom: 0;
  left: 0;
}
