<%- include('partials/header')%>
<link rel="stylesheet" href="styles/home.css">
<title>Inmobi</title>
</head>
<body>
        <div class="side-bar">
            <%- include('partials/sidebar')%>
        </div>
        
        <div class="main-content">
            <h2>new pubs</h2>
        </div>

</body>
</html>