<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo.jpeg" />
    <link rel="stylesheet" href="styles/index.css">
    <title>Inmobi</title>
</head>
<body>
    <header>
        <div class="nav-bar">
            <div class="links">
                <ul>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="/login">LogIn</a></li>
                </ul>
            </div>
        </div>
    </header>
    <section id="about">
        <div class="left-side">
            <img src="images/logo.jpeg" alt="logo">
            <div class="info">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione fuga impedit veniam. Illum, impedit alias suscipit optio modi dicta reiciendis aspernatur incidunt culpa sit nemo accusantium commodi ea iusto a nam laborum? Minima itaque adipisci quas nam cumque est deserunt!</p>
                <button><a href="/signup">Get Started</a></button>
            </div>
        </div>
        <div class="right-side">

        </div>
    </section>
</body>
</html>