<%- include('header') %>
    <script src="https://kit.fontawesome.com/066080e0b2.js" crossorigin="anonymous"></script>
    <div class="side-bar">
        <div class="logo">
            <img src="images/logo.jpeg" alt="logo" id="logo">
        </div>
        <div class="actions">
            <div class="link"><a href=""><i class="fa-solid fa-magnifying-glass"></i> Search</a></div>
            <div class="link"><a href=""><i class="fa-solid fa-house"></i> Home</a></div>
            <div class="link"><a href=""><i class="fa-solid fa-heart"></i> Likes</a></div>
            <div class="link"><a href=""><i class="fa-solid fa-user-group"></i> Friends</a></div>
            <div class="link"><a href=""><i class="fa-solid fa-user"></i> Profile</a></div>
            <div class="link"><a href=""><i class="fa-sharp fa-solid fa-comment"></i> Chat</a></div>
        </div>
    </div>